<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RVBSim.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <RVBSim.My.MySettings>
            <setting name="_location" serializeAs="String">
                <value>20, 20</value>
            </setting>
            <setting name="_dnphost" serializeAs="String">
                <value />
            </setting>
            <setting name="_dnpport" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="_md_host" serializeAs="String">
                <value />
            </setting>
            <setting name="_md_port" serializeAs="String">
                <value>502</value>
            </setting>
            <setting name="_source" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="_destination" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="_md_localvoltage" serializeAs="String">
                <value>1701</value>
            </setting>
            <setting name="_md_FRVBvoltage" serializeAs="String">
                <value>1992</value>
            </setting>
            <setting name="_protocol" serializeAs="String">
                <value>dnp</value>
            </setting>
            <setting name="_heartbeat" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="_Fdeltavoltage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="_Fmultiplier" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IEC61850LocalVoltage" serializeAs="String">
                <value>ATCC0$MX$LodCtrV$mag$i</value>
            </setting>
            <setting name="IEC61850FRVBVoltage" serializeAs="String">
                <value>ATCC0$SP$FRemVVal$setMag$i</value>
            </setting>
            <setting name="iechost" serializeAs="String">
                <value />
            </setting>
            <setting name="iecport" serializeAs="String">
                <value>102</value>
            </setting>
            <setting name="_IPAddressToRead" serializeAs="String">
                <value />
            </setting>
            <setting name="_md_RRVBvoltage" serializeAs="String">
                <value>1996</value>
            </setting>
        </RVBSim.My.MySettings>
    </userSettings>
</configuration>
