<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RVBSim.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <RVBSim.My.MySettings>
            <setting name="location" serializeAs="String">
                <value>20, 20</value>
            </setting>
            <setting name="dnphost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="dnpport" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="mdhost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="mdport" serializeAs="String">
                <value>502</value>
            </setting>
            <setting name="source" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="destination" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="mdLocalvoltage" serializeAs="String">
                <value>1701</value>
            </setting>
            <setting name="mdFRVBvoltage" serializeAs="String">
                <value>1992</value>
            </setting>
            <setting name="protocol" serializeAs="String">
                <value>modbus</value>
            </setting>
            <setting name="heartbeat" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Fdeltavoltage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Fmultiplier" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IECLocalVoltage" serializeAs="String">
                <value>ATCC0$MX$LodCtrV$mag$i</value>
            </setting>
            <setting name="IECFwdRVBVoltage" serializeAs="String">
                <value>ATCC0$SP$FRemVVal$setMag$i</value>
            </setting>
            <setting name="iechost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="iecport" serializeAs="String">
                <value>102</value>
            </setting>
            <setting name="IPAddressToRead" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="mdRRVBvoltage" serializeAs="String">
                <value>1996</value>
            </setting>
            <setting name="IECRevRVBVoltage" serializeAs="String">
                <value>ATCC0$SP$RRemVVal$setMag$i</value>
            </setting>
            <setting name="Rdeltavoltage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Rmultiplier" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="useRelative" serializeAs="String">
                <value>yes</value>
            </setting>
        </RVBSim.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
