<rvb>
  <communication>
    <test protocol="modbus" read="192.168.0.66" write="192.168.0.65" heartbeattimer="2" userelative="true" fwdrvbvoltage="10" revrvbvoltage="-10" fwdscalefactor="10" revscalefactor="10" rvbmax="150" rvbmin="90" visible="true"/>
    <dnp p="dnp" port="20000" source="3" dest="1">
      <sp id="LocalVoltage" name="Load Voltage (Secondary)" point="0"/>
      <sp id="RVBEnable" name="Remote Voltage Bias Enable" point="289"/>
      <sp id="FRVBValue" name="Forward Remote Voltage Value" point="290"/>
      <sp id="FRVBScale" name="Forward Remote Voltage Bias Scale Factor" point="291"/>
      <sp id="RVBHeartbeat" name="Remote Voltage Bias Heartbeat Timer" point="292"/>
      <sp id="RRVBValue" name="Reverse Remote Voltage Value" point="293"/>
      <sp id="RRVBScale" name="Reverse Remote Voltage Bias Scale Factor" point="294"/>
      <sp id="RVBMax" name="Remote Voltage Maximum" point="295"/>
      <sp id="RVBMin" name="Remote Voltage Minimum" point="296"/>
    </dnp>
    <modbus p="modbus" port="502">
      <sp id="LocalVoltage" name="Local Voltage" reg="1701"/>
      <sp id="RVBEnable" name="RVB Enable" reg="1991"/>
      <sp id="FRVBValue" name="Fwd RVB Voltage" reg="1992"/>
      <sp id="FRVBScale" name="Fwd RVB Scale" reg="1993"/>
      <sp id="RVBHeartbeat" name="RVB Heartbeat Timer" reg="1994"/>
      <sp id="RVBActive" name="RVB Active" reg="1995"/>
      <sp id="RRVBValue" name="Rev RVB Voltage" reg="1996"/>
      <sp id="RRVBScale" name="Rev RVB Scale" reg="1997"/>
      <sp id="RVBMax" name="Remote Voltage Maximum" reg="1998"/>
      <sp id="RVBMin" name="Remote Voltage Minimum" reg="1999"/>
      <sp id="Factory" name="Factory Options" reg="4787"/>
    </modbus>
    <iec p="iec" port="102" iedname="GE2011E" class="ATCC0">
      <!--Available iednames: M2001D and GE2011E-->
      <sp id="LocalVoltage" name="LodCtrV" fc="MX" sdi="mag" dai="i"/>
      <sp id="RVBEnable" name="RemVBiaEn" fc="SP" sdi="setVal" dai=""/>
      <sp id="FRVBValue" name="FRemVVal" fc="SP" sdi="setMag" dai="i"/>
      <sp id="FRVBScale" name="FRemVSF" fc="SP" sdi="setMag" dai="i"/>
      <sp id="RVBHeartbeat" name="RemVBiaHbT" fc="SP" sdi="setVal" dai=""/>
      <sp id="RRVBValue" name="RRemVVal" fc="SP" sdi="setMag" dai="i"/>
      <sp id="RRVBScale" name="RRemVSF" fc="SP" sdi="setMag" dai="i"/>
      <sp id="RVBMax" name="ReVMax" fc="SP" sdi="setMag" dai="i"/>
      <sp id="RVBMin" name="ReVMin" fc="SP" sdi="setMag" dai="i"/>
    </iec>
  </communication>
</rvb>